{% load static %}
{% load custom_tags %}
<ul class="menu">
    <li>
        <a href="{% url 'basket:view' %}" class="menu-link">
            <span>
                {{ request.user|basket_total_cost }} руб.
           {# {% if basket %} #}
                 {# {{ basket.total_cost|floatformat:0 }} руб #}
                 {# ({{ basket.total_quantity }} шт) #}
           {#{% endif %} #}
            </span>
            <span>
                {{ request.user|basket_total_quantity }} шт.
            </span>
        </a>
    </li>

    {% if request.user.is_superuser %}
        <li>
            <a href="{% url 'admin_custom:categories' %}" class="menu-link">админка</a>
    {% endif %}
         </li>
    <li>
        <a href="{% url 'index' %}" class="{% if request.resolver_match.url_name == 'index' %}
        menu-link-active menu-link
         {% else %}
          menu-link
         {% endif %}
        ">домой</a>
    </li>
    <li>
        <a href="{% url 'products:products' %}" class="{% if request.resolver_match.namespace == 'products' %}
         menu-link-active menu-link
          {% else %}
          menu-link
          {% endif %}
    ">продукты</a>
    </li>

{#    <li><a href="#" class="menu-link">HISTORY </a></li>#}
{#    <li><a href="#" class="menu-link">SHOWROOM</a></li>#}
    <li>
        <a href="{% url 'contacts' %}" class="{% if request.resolver_match.url_name == 'contacts' %}
        menu-link-active menu-link
         {% else %}
          menu-link
         {% endif %}">контакты
        </a>
    </li>
    {% if user.is_anonymous %}
        <li >
            <a href="{% url 'auth:login' %}" class="menu-link"> вход </a>
        </li>
    {% else %}
        <a href="{% url 'auth:logout' %}" class="menu-link">Выход</a>
    {% endif %}
    {% if user.is_authenticated %}
        <li class="menu-link user-link">{{ user.username|default:'Пользователь' }}
            <ul class="menu-in">
                <li>
                    <a href="{% url 'auth:edit' %}">
                        профиль
                    </a>
                </li>
                <li>
                    <a href="{% url 'zakaz:zakazes_list' %}">
                        заказы
                    </a>
                </li>
            </ul>
       </li>
    {% endif %}
    <li>
        <a href="{% url 'index' %}" class="menu-link"><img src="{% static 'img/search.svg' %}" alt="search"></a>
    </li>
</ul>
