{% extends 'mainapp/base.html' %}
{% load static %}

            {% block menu %}
            <div class="top-catalog">
                <div class="header">
                    <a class="logo" href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    {% include 'mainapp/includes/inc_menu.html' %}
                </div>
                    <h2 class="top-h2">Наш прдуктовый ряд</h2>

            </div>
            {% endblock %}

            {% block content %}
            <div class="product-sets">
            {% include 'mainapp/includes/inc_menu_cat.html' %}
            <br>
            <br>
            <br>
            <br>

                <div style="display: flex; flex-wrap: wrap;" class="category-products clearfix">
      <div style="margin: 15px" class="block">
          <div class="card" style="width: 22rem;">
              <img width="370px" src="/media/{{ hot_product.image }}" class="card-img-top" alt="product">
              <div class="card-body">
                  <h5 class="card-title">{{ hot_product.name }}</h5>
                  <br><br>
                  <div style="
                  color: red">Горячее предложение</div>
                  <br><br>
                  <a href="{% url 'products:product' hot_product.pk %}" class="button">order us
                      <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
              </div>
          </div>
      </div>

    {% for product in same_products %}
        <div style="margin: 15px" class="block">
              <div class="card" style="width: 22rem;">
                  <img width="370px" src="/media/{{ product.image }}" class="card-img-top" alt="product">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <p class="card-text">{{ product.short_desc }}</p>
                      <br><br>
                  <a href="{% url 'products:product' product.pk %}" class="button">order us
                      <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>

                  </div>
              </div>
          </div>
    {% endfor %}
    </div>
            </div>

            {% endblock %}