{% extends 'mainapp/base.html' %}
{% load static %}

            {% block menu %}
            <div class="top-catalog-details">
                <div class="header">
                    <a class="logo" href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}" alt="logo"></a>
                    {% include 'mainapp/includes/inc_menu.html' %}
                </div>
                    <h2 class="top-h2-details">Подробнее о продукте</h2>

            </div>
            {% endblock %}

            {% block content %}
            <div class="sets-menu-box">

                    {% include 'mainapp/includes/inc_menu_cat_prodetails.html' %}
            </div>
            <div class="details-hot-deal">
                <img width="1140px" height="570px" src="/media/{{ product.image }}" alt="small-chair">
                <div class = "text-detail">
                    <h2 class = "promo_name_detail">Fishnet Chair</h2>
                    <h4 class="name_product">{{ product.name }}</h4>
                    <h4 class="name_category">{{ product.category }}</h4>
                    <p class="price">{{ product.price }} <span>руб</span></p>
                    <a href="{% url 'basket:add' product.pk %}" class="button_detail_product">order us
                        <img src="{% static 'img/arrow.svg' %}" alt="arrow"></a>
                </div>
            </div>
            {% endblock %}